{
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	color: rgb(46, 55, 182) ;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background:white;
	color: rgb(46, 55, 182) ;
	padding: 1em 0;
	text-align: center;
	display: flex;
	font-size: 45px;


}

main{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
	background: image assets/sculpt_ 3jp;

}

#logo {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
	margin: 20px auto;
}
.main-area {
    flex: 1;
    padding: 20px;
    background-image: url('/Users/hayleyfurfari/Documents/GitHub/Coding-Page-Layout/assets/abtthe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#YaleUniversity {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 24px;
    background-color: rgb(46, 55, 182);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#YaleUniversity {
    background-color: rgb(46, 55, 182);
    transform: scale(1.1);
}



#navbar ul li a {
    color: rgb(46, 55, 182);
    text-decoration: none;
    display: block;
}

#navbar ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	color: rgb(46, 55, 182);

}
#navbar ul li {
	padding: 14px 20px;
}
#navbar ul li a {
	color: rgb(46, 55, 182);
	text-decoration: none;
	display: block;
	text-align: center;
}


body #navbar ul li a {
    color:rgb(46, 55, 182) !important;
}


.content {
	flex: 1;
	display: flex;
}

.sidebar {
	width: 250px;
	background: rgb(46, 55, 182);
	color: white;
	padding: 20px;
}
.main-area {
	flex: 1;
	padding: 20px;
	background-color: #fff;
}
.box-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}
.box {
	background-color:white);
	color:rgb(46, 55, 182);
	font-size: 40pt;
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border: 1px solid #999;

}
#box-1 {
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 400px;
    display: flex;
    flex-direction: column; /
    justify-content: flex-start;
    align-items: center;
    font-size: 30pt;
    color: rgb(46, 55, 182);;
    font-weight: bold;
    border: 4px solid whitesmoke;
    padding: 10px;
}

#box-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

#box-1 span {
    font-size: 12pt;
    margin-top: 10px;
    text-align: center;
}



.h1{
display: flex;
justify-content: center;



}

.box img {
	width: 100%;
	height: auto;
	object-fit: cover;
}


#box-2 {
	background-image: url('assets/yaleart.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: white;
    font-weight: bold;
    border: 6px solid rgb(46, 55, 182);


}


#box-3 {

    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    font-size: 20pt;
    color: white;
    font-weight: bold;
    border: 6px solid rgb(46, 55, 182);

}



.box-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
	align-items: center;
}

.box-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.box-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    background-color: rgb(46, 55, 182)6;
    color: white;
    font-size: 20pt;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 4px solid rgb(46, 55, 182);
    padding: 10px;
    text-align: center;
}

#box-3 {
    background-color: rgb(46, 55, 182);
    color: white;
    font-size: 20pt;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 4px solid rgb(46, 55, 182);
    padding: 10px;
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.box-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-section h2 {
    font-size: 16pt;
    margin: 0 0 5px 0;
}

.box-section p {
    font-size: 10pt;
    line-height: 1.5;
}

.container{

	display:flex
}
.container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}


.item {
    background-color:rgb(46, 55, 182);
    color: white;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}


h2 {

	color: whitesmoke;
}


footer {
	background: rgb(46, 55, 182);
	color: white;
	padding: 1em 0;
	text-align: center;
}

.socials {
	margin-top: 10px;
}
.socials a {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.socials a:hover {
	color: yellow;